<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Cmap</title>
    <style>
      #banner {
        height: 30vh;
        width: 100%;
        object-fit: cover;
        object-position: 0% 67%;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class = "container">
     <header>
      <h1 class = "text-center mt-2 mb-4">{{companyName}} CAREERS</h1>
      <img src = "static/career.jpg" alt = "Hyundai careers main page" id = "banner" class = "img-fluid">
    </header>
    <main>
        <h2 class = "text-center mt-2 mb-4">About HYUNDAI</h2>
        <p class = "lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed           do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut         enim ad minim veniam, quis nostrud exercitation ullamco laboris           nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in         reprehenderit in voluptate velit esse cillum dolore eu fugiat             nulla pariatur. Excepteur sint occaecat cupidatat non proident,           sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <h2 class = "text-center mt-2 mb-4">Open positions</h2>
          {% for job in jobs %}
            {% include 'jobitem.html' %}
          {% endfor %}
    </main>
    <footer>
      <div class = "text-center">
        <button class = "btn btn-primary btn-lg">Contact us</button>
        <p style = "margin-top: 1.5vw">Copyright 2024, Alexeyev Igor</p>
      </div>
      {% include 'footer.html' %}
     </footer>
    </div>
  </body>
</html>